// Image Hero
.hero {
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        animation: img 1s;

        @keyframes img {
            0% {
                opacity: 0;
                animation-timing-function: ease-in;
            }
            100% {
                opacity: 1;
                animation-timing-function: ease-out;
            }
        }

        .content {
            position: absolute;
            bottom: 60px;
            width: 600px;
            background-color: rgba(255, 255, 255, 0.8);
            color: $text-color-dark;
            padding: 35px;
            animation: slideContent 1s;

            h1 {
                margin-bottom: 10px;
            }

            @keyframes slideContent {
                0% {
                    opacity: 0;
                    transform: translateX(-600px);
                    animation-timing-function: ease-in;
                }
                100% {
                    opacity: 1;
                    animation-timing-function: ease-out;
                }
            }
        }

        &-about {
            background: url("https://source.unsplash.com/TDUpwlnUA5U/1600x900/")
                no-repeat center top/cover;
        }

        &-services {
            background: url("https://source.unsplash.com/2_3c4dIFYFU/1600x900/")
                no-repeat center top/cover;
        }

        &-team {
            background: url("https://source.unsplash.com/9gz3wfHr65U/1600x900/")
                no-repeat center / cover;
        }

        &-access {
            background: url("https://source.unsplash.com/gK4C8CbyuPc/1600x900/")
                no-repeat center / cover;
        }
    }
}
